# vscode
.vscode
.devcontainer

# Dockerfile
Dockerfile

# npm
node_modules
package-lock.json

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# css
*.css

# obsidian
data.json

# other
.DS_Store

# code for dev
src/obsidiandev.ts
.obsidian-unpacked
test-results
e2e-vault/.obsidian/plugins/obsidian-core-search-assistant
e2e-vault/.obsidian/workspace.json
