.fake-hover.tree-item-self {
	background-color: var(--background-secondary-alt);
	color: var(--text-normal);
}
.fake-hover.tree-item-self .tree-item-flair {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}
