/* search result item */
.core-search-assistant_search_result_items {
	.tree-item-self {
		background-color: var(--background-secondary-alt);
		color: var(--text-normal);
	}
	.tree-item-flair {
		background-color: var(--interactive-accent);
		color: var(--text-on-accent);
	}
}

/* preview modal */
.core-search-assistant_preview-modal-leaf-container {
	div.workspace-leaf {
		contain: initial !important;
	}

	div.workspace-leaf-resize-handle {
		display: none;
	}

	div.view-header {
		display: none;
	}

	div.markdown-preview-view {
		padding: 0;
	}

	div.modal-content {
		margin: 0;
	}
}

/* outline on search mode */
div.core-search-assistant_enter-mode {
	/* outline: 5px solid var(--interactive-accent);
	outline-offset: -5px; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--layer-modal);
	pointer-events: none;
}

/* option modal */
.core-search-assistant_option_modal {
	div.modal {
		background-color: var(--background-primary);
	}

	kbd.suggestion-hotkey {
		float: right;
		margin-left: 0;
		margin-right: 10px;
		padding: 0 10px;
		font-size: 12px;
		border-radius: 4px;
		background-color: var(--background-secondary);
	}

	span.suggestion-icon {
		float: left;
		margin-left: 0;
		// margin-right: 10px;
		padding: 0 10px;
		// border-radius: 4px;
		// background-color: var(--background-secondary);
		height: 1.5em;
		display: flex;
		align-items: center;
	}

	div.suggestion-item {
		position: relative;
		padding-left: 10px;
		cursor: default;
		white-space: pre-wrap;
	}

	div.suggestion-item.is-selected {
		background-color: var(--background-secondary);
	}
}

/* preview covering workspace */
// ↓ class is not sufficient to override width: 0 specified by default
#core-search-assistant_workspace-preview-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--layer-modal);
	// pointer-events: none; to scroll
	background-color: var(--background-primary);
	padding: 20px 30px;
	overflow: auto; // show scroll bar

	div.workspace-leaf {
		contain: initial !important;
	}

	div.workspace-leaf-resize-handle {
		display: none;
	}

	div.view-header {
		display: none;
	}

	div.markdown-preview-view {
		padding: 0;
	}

	div.modal-content {
		margin: 0;
	}
}

/* card view */
#core-search-assistant_card-view-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--layer-modal);
	// pointer-events: none; // to scroll
	background-color: var(--background-primary);
	padding: 20px 30px;
	overflow-y: auto; // show scroll bar
	// display: flex;
	// flex-direction: column;
	// flex-wrap: wrap;
	// justify-content: space-around;

	&.core-search-assistant_hide {
		display: none;
	}

	div.workspace-leaf {
		contain: initial !important;
	}

	div.workspace-leaf-resize-handle {
		display: none;
	}

	div.view-header {
		display: none;
	}

	div.markdown-preview-view {
		padding: 0;
	}

	div.modal-content {
		margin: 0;
	}

	// &:last-child::after {
	// 	height: 100px;
	// 	top: 100%;
	// 	width: 1px;
	// 	position: absolute;
	// 	background-color: red;
	// }

	// ↓ effective!
	// &::after {
	// 	display: block;
	// 	// width: 100px;
	// 	height: 30px;
	// 	content: '';
	// }

	.core-search-assistant_card-view-cover-content {
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-around;
		// width: 100%;
		max-width: 1000px;
		// max-width: 100%;
		// margin: 0 auto;
		// margin-top: 15px;
		// margin-bottom: 5px;
		// position: relative;
		display: grid;
		// grid-template-columns: repeat(3, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		// grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 20px;

		// &::after {
		// 	display: block;
		// 	width: 1px;
		// 	height: 100px;
		// 	content: '';
		// }

		.core-search-assistant_card-view-item-container-aspect-ratio {
			position: relative;
			padding-top: 125%;
		}

		.core-search-assistant_card-view-item-container {
			overflow: hidden;
			display: flex;
			flex-direction: column;
			// width: 300px;
			// height: 400px;
			// margin: 20px;
			// border: 2px solid var(--interactive-accent);
			// outline: 2px solid var(--interactive-accent);
			// min-height: 300px;
			// max-height: 400px;
			// padding: 10px;

			// box-shadow: 0 2px 2px var(--interactive-accent);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			// display: flex;
			// flex-direction: column;
			// min-height: 100%;
			// position: relative;
			// top: 0;
			// transition: all 0.1s ease-in;
			border-radius: 10px;
			// text-decoration: none !important;

			// &:last-child::after {
			// 	display: block;
			// 	width: 100px;
			// 	height: 30px;
			// 	content: '';
			// 	flex-grow: 0;
			// }
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;

			&:hover {
				top: -2px;
				// box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
				box-shadow: 0 4px 5px var(--interactive-accent);
			}

			.core-search-assistant_card_view-item-file-name-container {
				padding: 5px 10px;
				font-size: 1rem;
				line-height: 1.2rem;
				background-color: var(--background-secondary);
				color: var(--text-muted);
				overflow-wrap: break-word;
				flex-grow: 0;
				// flex-basis: ;
			}

			.core-search-assistant_card-view-item-preview-margin {
				padding: 5px;
				flex: 1;
				height: 100px;
			}

			.core-search-assistant_card-view-item-preview-container {
				// padding: 5px;
				overflow: hidden;
				// background-color: var(--background-modifier-success);
				height: 100%;
				// flex: 1;

				// &::after {
				// 	display: block;
				// 	width: 100px;
				// 	height: 30px;
				// 	content: '';
				// 	flex-grow: 0;
				// }

				p {
					font-size: 0.8rem;
					line-height: 1.2;
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					font-size: 1rem;
					line-height: 1.2;
					margin: 5px;
				}
			}
		}
	}
}
