.fake-hover.tree-item-self {
	background-color: var(--background-secondary-alt);
	color: var(--text-normal);
}
.fake-hover.tree-item-self .tree-item-flair {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
}

/* modal */
div.first > div.workspace-leaf {
	contain: initial !important;
}

div.first > div.workspace-leaf > .workspace-leaf-resize-handle {
	display: none;
}

div.first > div.workspace-leaf > div.workspace-leaf-content > div.view-header {
	display: none;
}

div.first
	> div.workspace-leaf
	> div.workspace-leaf-content
	> .markdown-preview-view {
	padding: 0;
}

#qawatake {
	flex-direction: column;
}
