/* search result item */
.core-search-assistant_search-result-items-focus {
	.tree-item-self {
		background-color: var(--background-secondary-alt);
		color: var(--text-normal);
	}
	.tree-item-flair {
		background-color: var(--interactive-accent);
		color: var(--text-on-accent);
	}
}

/* preview modal */
.core-search-assistant_preview-modal-container {
	div.workspace-leaf {
		contain: initial !important;
	}

	div.workspace-leaf-resize-handle {
		display: none;
	}

	div.view-header {
		display: none;
	}

	div.markdown-preview-view {
		padding: 0;
	}

	div.modal-content {
		margin: 0;
	}

	.highlight-match {
		color: var(--text-normal);
		background-color: var(--text-highlight-bg);
	}

	.focus-match {
		text-decoration: underline;
	}
}

/* outline on search mode */
div.core-search-assistant_search-mode-outline {
	/* outline: 5px solid var(--interactive-accent);
	outline-offset: -5px; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--layer-modal);
	pointer-events: none;
}

/* option modal */
.core-search-assistant_option-modal {
	div.modal {
		background-color: var(--background-primary);
	}

	kbd.suggestion-hotkey {
		float: right;
		margin-left: 0;
		margin-right: 10px;
		padding: 0 10px;
		font-size: 12px;
		border-radius: 4px;
		background-color: var(--background-secondary);
	}

	span.suggestion-icon {
		float: left;
		margin-left: 0;
		// margin-right: 10px;
		padding: 0 10px;
		// border-radius: 4px;
		// background-color: var(--background-secondary);
		height: 1.5em;
		display: flex;
		align-items: center;
	}

	div.suggestion-item {
		position: relative;
		padding-left: 10px;
		cursor: default;
		white-space: pre-wrap;
	}

	div.suggestion-item.is-selected {
		background-color: var(--background-secondary);
	}
}

/* preview covering workspace */
// ↓ class is not sufficient to override width: 0 specified by default
#core-search-assistant_workspace-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--layer-modal);
	// pointer-events: none; to scroll
	background-color: var(--background-primary);
	padding: 20px 30px;
	overflow: auto; // show scroll bar

	div.workspace-leaf {
		contain: initial !important;
	}
	div.workspace-leaf-resize-handle {
		display: none;
	}
	div.view-header {
		display: none;
	}
	div.markdown-preview-view {
		padding: 0;
	}
	div.modal-content {
		margin: 0;
	}
}

/* card view */
#core-search-assistant_card-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--layer-modal);
	background-color: var(--background-primary);
	padding: 20px 30px;
	display: flex;
	justify-content: center;

	div.workspace-leaf {
		contain: initial !important;
	}
	div.workspace-leaf-resize-handle {
		display: none;
	}
	div.view-header {
		display: none;
	}
	div.markdown-preview-view {
		padding: 0;
	}
	div.modal-content {
		margin: 0;
	}

	.content {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-rows: repeat(attr(data-row), 1fr);
		grid-gap: 20px;
		height: 100%;
		width: 100%;
	}

	.item-container {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		cursor: pointer;

		&:hover,
		&.is-selected {
			top: -2px;
			box-shadow: 0 4px 5px var(--interactive-accent);
		}
	}

	.file-name-container {
		padding: 5px 10px;
		font-size: 1rem;
		line-height: 1.2rem;
		background-color: var(--background-secondary);
		color: var(--text-muted);
		overflow-wrap: break-word;
		flex-grow: 0;
	}

	.preview-container-wrapper {
		padding: 5px;
		flex: 1;
		height: 100px;
	}

	.preview-container {
		overflow: hidden;
		height: 100%;

		font-size: 0.8rem;
		line-height: 1.2;

		div,
		p,
		li,
		code {
			font-size: 0.8rem;
			line-height: 1.2;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 1rem;
			line-height: 1.2;
			margin: 5px;
		}

		a {
			pointer-events: none;
		}
	}
}

.hide-iframe {
	iframe {
		display: none;
	}
}
